html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fefefe;
    padding-top: 70px;

}


*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-track {
    background: #EFD3FF;
    box-shadow: inset 0 0 5px grey;

}

*::-webkit-scrollbar-thumb {
    background-color: #753ECB;
    border-radius: 10px;

}

a {
    color: #2c00ee;
    text-decoration: none !important;
    font-weight: 500;
}

a:hover {
    color: #592ca3;
}

.navbar {

    min-height: 70px;
    background-color: #753ECB !important;
}

.navbar-brand {
    padding: 0 .5rem;
}

.navbar-brand img {
    max-height: 40px;

}

.nav-abs {
    padding-right: .75rem;
}

.btn {
    padding: .5rem .75rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #9a6cff;
    color: #fff;
}

.dropdown-menu {
    border: 1px solid rgb(154 108 255 / 28%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 5px 14px rgb(0 0 0 / 15%), 0 5px 4px rgb(0 0 0 / 10%);
}



.btn-secondary {
    background-color: #00E8F6;
    border-color: #00E8F6;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);

}


.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    background-color: #00cfda !important;
    border-color: #01cfda !important;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .1) !important;
}

.btn-danger {
    background-color: #FE5898;
    border-color: #FE5898;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);

}


.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
    background-color: #FE5898 !important;
    border-color: #FE5898 !important;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .1) !important;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    width: 15rem;
    margin-left: -15rem;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    z-index: 888;
}

#sidebar.active {
    margin-left: 0;
}

#sidebar .side-content {
    padding-bottom: 2rem;
    padding-top: 80px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url(../pic/side.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.side-content .lay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgb(59 6 111 / 0.84);
}

.side-content strong {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1rem;
    margin: 1rem 0;
    color: #ffc107;

}

.side-content ul {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 0 3px;
    flex-wrap: nowrap;

}

.side-content ul::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
    background-color: transparent !important;


}

/* Handle */
.side-content ul::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: transparent !important;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
}

/* Handle on hover */


.side-content ul:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3) !important;
}

.side-content ul::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7) !important;
}

.side-content ul li {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: 2px 0;
    border-radius: 5px !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    background-color: rgba(0, 0, 0, 0);
    flex-shrink: 0;
    min-height: 42px;
}

.side-content ul li:hover {
    background-color: rgba(0, 0, 0, .4);

}

.side-content ul li:hover a {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}


.side-content ul li a {
    padding-left: 1.75rem;
    color: inherit !important;
    font-size: 15px;
    padding: .6rem;
    padding-left: 1.5rem;
    display: flex;
    width: 100%;

}


.side-content ul li a.active {

    background-color: rgb(154 108 255 / 30%);

}

.side-content ul li:hover a.active {
    background-color: transparent;
}

#page-content {
    padding-top: 1rem;
    padding-left: 18rem;
    transition: padding .4s ease;
    -webkit-transition: padding .4s ease;
    -moz-transition: padding .4s ease;
    -ms-transition: padding .4s ease;
    -o-transition: padding .4s ease;
}

#page-content.padding {
    padding-left: 3rem;
}

#sidetoggler {
    position: absolute;
    top: 20%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg) translateX(69%);
    border: none;
    box-shadow: none;
    height: 3.7rem;
    width: 3.7rem;
    border-radius: 0.7rem;
    z-index: -1;
    background: #3d167c;
    -webkit-transform: rotate(45deg) translateX(69%);
    -moz-transform: rotate(45deg) translateX(69%);
    -ms-transform: rotate(45deg) translateX(69%);
    -o-transform: rotate(45deg) translateX(69%);
    padding: .6rem;
    overflow: hidden;

}

#sidetoggler .i-wr {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

#sidetoggler .i-wr::before {
    content: "\f00d";
    font: normal normal normal 24px/1 FontAwesome;
    position: absolute;
    top: -2px;
    right: 2px;
    color: #ffc107;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

#sidetoggler.collapsed .i-wr::before {
    content: "\f0c9";
    font-size: 20px;
    top: 0;
}


@media(max-width : 991.98px) {


    #sidebar {
        margin-left: 0;
    }

    #sidebar.active {
        margin-left: -15rem;
    }

    #page-content {
        padding-left: 3rem;
    }


    #sidetoggler .i-wr::before {
        content: "\f0c9";
        font-size: 20px;
        top: 0;
    }

    #sidetoggler.collapsed .i-wr::before {
        content: "\f00d";
        font-size: 20px;
        top: 0;
    }
}

.tab-pane {

    padding: 2rem;
    padding-left: 1rem;
    line-height: 2;
    font-size: 1rem;
    font-family: 500;
    color: #222;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1rem;

    border-left: 2px solid #753ECB;

}

.sub-title {
    font-size: 1.25rem;
    color: #4d4d4d;
    padding-left: 1rem;
    position: relative;
    font-weight: bold;
}

.sub-title::before {
    position: absolute;
    content: "#";
    font-size: 1.25rem;
    top: 0;
    left: 0;
    font-weight: bold;
    color: #9A6CFF;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px dashed rgb(117 62 203 / 20%);
}

.tab-pane p {
    padding-inline-start: 1rem;
}

.inner-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.marked-text {
    background-color: #E3E4E5;
    color: #3d167c;
    padding: 3px 7px;
    line-height: 1.6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.bg-card {
    border-radius: 12px;
    padding: 1.5rem;
    color: #fff;
    font-weight: normal;
    position: relative;
    padding-left: 3.25rem;
    overflow: hidden;
    width: 100%;
    background-color: #9A6CFF;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
}

.bg-card::before {
    content: "\f0eb";
    font: normal normal normal 24px/1 FontAwesome;
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    padding: .6rem;
    border-radius: 50%;
    background-color: #ffffff41;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;


}

.bg-card.v2 {
    background-color: #753ECB;
}

.bg-card.v2::before {
    content: "\f013";
}


.bg-card.v3 {
    background-color: #FE5898;
}

.bg-card.v3::before {
    content: "\f256";
}

.bg-card.v4 {
    background-color: #00E8F6;
    color: #333;
    font-weight: 500;
}

.bg-card.v4::before {
    content: "\f075";
}


.bg-card.v5 {
    background-color: #FFF786;
    color: #333;
    font-weight: 500;
}

.bg-card.v5::before {
    content: "\f12a";
    background-color: rgba(0, 0, 0, .1);
}

.bg-card.v6 {
    background-color: #0E7F61;

}

.bg-card.v6::before {
    content: "\f00c";
}



@media(max-width : 575px) {

    .navbar-brand img {

        max-width: 120px;
    }

    .title {
        font-size: 1.5rem;
    }
}

.highlight-wrapper {
    display: block;
}

.highlight {
    position: relative;
    z-index: 0;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.highlight>.chroma {
    color: #d0d0d0;
    background-color: #212121;
    position: static;
    z-index: 1;
    border-radius: 4px;
    padding: 10px;
}

.chroma {
    overflow: auto;
}

.chroma .lntable {
    display: table;
    width: 100%;
    padding: 0 0 5px;
    margin: 0;
    border-spacing: 0;
    border: 0;
    overflow: auto;
}

.chroma .lntd:first-child {
    padding: 7px 7px 7px 10px;
    margin: 0;
}

.chroma .lntd:last-child {
    padding: 7px 10px 7px 7px;
    margin: 0;
}

.copy-code-button {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 14px;
    width: 65px;
    color: #232326;
    background-color: #7f7f7f;
    border: 1.25px solid #232326;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    white-space: nowrap;
    padding: 4px 4px 5px 4px;
    margin: 0 0 0 1px;
    cursor: pointer;
    opacity: 0.6;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
    color: #222225;
    background-color: #b3b3b3;
    opacity: 0.8;
}

.copyable-text-area {
    position: absolute;
    height: 0;
    z-index: -1;
    opacity: 0.01;
}

.main-sec {
    padding-top: 3rem;
}