/node_modules
/public/cdn
/bootstrap
/public/hot
/public/storage
/storage/*.key
/egypt
/ufm
/vendor
/demo
/api
/bootstrap/cache/config.php
.env
.htaccess
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
